<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            position: fixed;
            font-family: "Roboto", sans-serif;
        }

        .customize-item {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }

        .customize-button-back {
            position: absolute;
            top: 24px;
            left: 24px;
            background-color: #fff;
            color: #000;
            border: none;
            padding: 4px 12px;
            font-size: 24px;
            cursor: pointer;
            border-radius: 100%;
            text-decoration: none;
        }

        .customize-item-image {
            flex: 1;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
        }

        .customize-item-content {
            flex: 3;
            position: relative;
            overflow: scroll;
            background-color: #eee;
            width: 100%;
        }

        .customize-item-info {
            padding: 16px 24px;
        }

        .customize-item-info-name {
            font-weight: bold;
            font-size: 16px;
        }

        .customize-item-info-price {
            margin-top: 8px;
            font-weight: bold;
            font-size: 16px;
        }

        .customize-item-info-description {
            margin-top: 8px;
            color: #767676;
            font-size: 14px;
        }

        .customize-item-info-line {
            width: 100%;
            height: 1px;
            background-color: #bbb;
        }

        .customize-item-customize-panel {
            margin: 24px;
            padding: 8px;
            border-radius: 12px;
            border: 1px solid #bbb;
        }

        .customize-item-customize {
            margin: 8px;
        }

        .customize-item-customize-title {
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
        }

        .customize-item-customize-title-sub {
            display: inline-block;
            font-size: 12px;
            color: #767676;
            vertical-align: 1px;
        }

        .customize-item-customize-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 8px;
            margin: 32px 16px;
        }

        .customize-item-customize-group-item {
            position: relative;
        }

        .customize-item-customize-group-item input[type="radio"] {
            display: none;
        }

        .customize-item-customize-group-item label {
            padding: 4px 16px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 24px;
            cursor: pointer;
            user-select: none;
        }

        .customize-item-customize-group-item input[type="radio"]:checked + label {
            border-color: #ff8200;
            background: #ff8200;
            color: #fff;
        }

        .customize-item-panel-blank {
            width: 100%;
            height: 60px;
        }

        .customize-item-panel {
            position: fixed;
            bottom: 0;
            left: 0;
            width: calc(100% - 16px);
            background-color: #fff;
            padding: 8px;
            border-radius: 16px 16px 0 0;
        }

        .customize-item-panel-button-a2c {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #ff8200;
            border: none;
            cursor: pointer;
            border-radius: 12px;
            padding: 12px;
        }

        .customize-item-panel-button-a2c-title {
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
        }

        .customize-item-panel-button-a2c-price {
            float: right;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
        }
    </style>
<head>

<body>
    <main class="customize-item">
        <a href="/menu" class="customize-button-back">x</a>

        <% if (item.image) { %>
            <img src="<%= item.image %>" alt="<%= item.name %>" class="customize-item-image" />
        <% } else { %>
            <div class="customize-item-image">No Image</div>
        <% } %>

        <div class="customize-item-content">
            <div class="customize-item-info">
                <div class="customize-item-info-name"><%= item.name %></div>
                <div class="customize-item-info-price">$<%= item.price %></div>
                <div class="customize-item-info-description"><%= item.description %></div>
            </div>
            <div class="customize-item-info-line"></div>
            <div class="customize-item-customize-panel">
                <div class="customize-item-customize">

                    <div class="customize-item-customize-title">
                        Size
                        <div class="customize-item-customize-title-sub"> (+$0.00)</div>
                    </div>
                    <div class="customize-item-customize-group">
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="size" id="size-50" value="50" />
                            <label for="size-50">50%</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="size" id="size-100" value="100" checked />
                            <label for="size-100">100%</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="size" id="size-150" value="150" />
                            <label for="size-150">150%</label>
                        </div>
                    </div>

                    <div class="customize-item-customize-title">
                        Tempurature
                        <div class="customize-item-customize-title-sub"> (+$0.00)</div>
                    </div>
                    <div class="customize-item-customize-group">
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="temp" id="temp-cold" value="cold" />
                            <label for="temp-cold">Cold</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="temp" id="temp-default" value="default" checked />
                            <label for="temp-default">Default</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="temp" id="temp-hot" value="hot" />
                            <label for="temp-hot">Hot</label>
                        </div>
                    </div>

                    <div class="customize-item-customize-title">
                        Source
                        <div class="customize-item-customize-title-sub"> (+$0.00)</div>
                    </div>
                    <div class="customize-item-customize-group">
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="source" id="source-less" value="80" />
                            <label for="source-less">less</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="source" id="source-default" value="100" checked />
                            <label for="source-default">Default</label>
                        </div>
                        <div class="customize-item-customize-group-item">
                            <input type="radio" name="source" id="source-more" value="120" />
                            <label for="source-more">More</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="customize-item-panel-blank"></div>
            <div class="customize-item-panel">
                <button 
                    type="button" 
                    id="customize-item-button-a2c"
                    class="customize-item-panel-button-a2c"
                    value="<%= item.id %>"
                >
                    <div class="customize-item-panel-button-a2c-title">Add to cart</div>
                    <div class="customize-item-panel-button-a2c-price">$<%= item.price %></div>
                </button>
            </div>
        </div>

    </main>

    <script type="module" src="/static/scripts/customize/cart.js"></script>
</body>

</html>
